#article {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.8rem;
  font-weight:700;
  color: #fff;
  margin-bottom: 0.8rem;  
}

h3 {
  color: #8695A4;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;  
}

p {
  font-size: 1rem;
  color: #fff
}