.statsCard {
  background: rgb(255, 75, 150);
  color: rgb(142, 31, 77);
  width: 100%;
  padding: 1rem;
  text-align: center;
  border-radius: 4px;

  h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1;
  }

  span {
    font-size: 4rem;
    line-height: 1;
  }
}
